.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.section_1 {
  position: relative;
  width: 25%;
  height: 100vh;
}
.app_title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_title h1 {
  font-size: clamp(28px, 3vw, 35px);
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0.02em;
}
.notes_list {
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
}
.notes_list::-webkit-scrollbar {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  width: 10px;
}
.notes_list::-webkit-scrollbar-thumb {
  background: rgb(203, 196, 196);
  border-radius: 10px;
}
.add_button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: clamp(50px, 7vw, 70px);
  height: clamp(50px, 7vw, 70px);
  border-radius: 50%;
  background: rgba(22, 0, 139, 1);
  color: white;
  font-size: clamp(50px, 7vw, 70px);
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup_body {
  background: rgba(177, 173, 173, 0.7);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_2 {
  width: 75%;
  height: 100%;
  background-color: rgba(218, 229, 245, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .section_1 {
    width: 100vw;
  }
  .section_2 {
    width: 100vw;
  }
}
